* {
    font-family: 'Lato', sans-serif;
    color: #4e4d4d;
}

#contactform {
    margin-top:-13px !important;
}
#login-button {
    display:none;
}
.btn, .form-control {
    border-radius: 0px;
}

h4.panel-title {
    font-size:17.5px !important;
}

#main {
    height:500px;
}
.btn-primary {
    background-color: #20cb92;
    border-color: #20cb92;
}

.btn-primary:hover, .btn-primary:active {
    background-color: #999;
    border-color: #999;
}

.btn.btn-default:hover, .btn.btn-default:active {
    border-color: #20cb92;
    color: #20cb92;
}

.privacy {
    height:2500px !important;
}

.terms {
    height: 4100px !important;

}

@media (max-width: 800px) {
    .navbar-default .navbar-nav>li>a {
    background-color:white !important;

}
.privacy {
    height:3500px !important;

}
.footer#privacy {
    margin-top:3399px !important;
    f
}
.footer#terms {
    margin-top:7200px !important;
}

.footer {
    font-size:0.8em;
}
}
h1,h2 {
    font-family: 'Bentham', serif;
}

h1 {
    font-size: 6em;
}

#getstartedbutton {
    width:50% !important;
    margin-left:25% !important;
}

.panel-default, .panel-heading {
    margin-left:15%;
    background:#fff !important;
    border:none;
}

.footer#about, .footer#faq {
    margin-top:400px;
    font-size:0.8em;
}


h2 {
    font-size: 3em;
}

.panel-body h2 {
    font-size:1.8em;
}

h3 {
    font-size: 2em;
}

h4 {
    font-size: 1.5em;
}

p {
    font-size: 1.2em;
    font-weight: lighter;
}

.header {
    padding: 15px 0;
    height:80px;
    background: rgb(255, 255, 255);
    -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0 0 4px rgba(0,0,0,0.4);
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
    text-transform:uppercase;
}

.header img {
    height: 50px;
}

.panel-default {
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.0) !important;
}

.hero {
    padding-top: 6.92%;
    padding-bottom: 6.92%;
    background: #000 url('../images/Hero_highres_full_width.jpg') no-repeat center;
    background-size:cover;
}
.about_section, .faq {
    font-weight:300;
    padding-top: 6.92%;
    padding-bottom:6.92%;
    background:#fff;
}

.faq, .faq .container {
    height:500px;
}
@media(max-width: 800px) {
    .about_section {
        text-align: center;
        height:800px !important;
        font-size:1.1em;
        margin-bottom:50px;
        padding-bottom:50px;
    }
    .about_section .container{
        font-size:0.8em;
        text-align: center;
        height: 1000px;
        margin-top:50px;
    }
    .faq, .faq .container {
        margin-top:50px;
        text-align:left;
        height:2000px !important;
    }
    .panel-heading {
        margin-left:0;
    }
    .panel-body {
        text-align: left;
    }
    .panel-default {

    }

}
@media(max-width: 800px) {
    #us {
        margin-left:110px;
    }

}
@media(min-width: 800px) {
    .about_section, .faq {
        margin-top:50px;
    }
}
.row #getstartedbutton {
    margin-left:463px;
    width:20%;
}

.col-md-4 h3#keys{
    padding-top: 13.5px;
}

@media (max-width: 800px) {
    .testimonial h3 {
        font-size:1.0em !important;
        font-weight:100;
    }
    .row #getstartedbutton {
        margin-left:0;
        margin-bottom:30px;
        padding-bottom:10px;
        width: 100%;
        margin-right:0;
    }
    .hero {
        height:510px;
        padding-top:0;
        padding-bottom:0;
    }
    select {
        width:50px !important;
    }
    #getstarted {
        height:42px;
        width: 260px;
        margin-left:14.5px !important;
        margin-top:5px;
        padding-top: 8px;
        padding-bottom:5px;
    }
    .col-md-6.text-center img {
    }
    .hero > .container {
        height:880px;
    }
    .hero > .container > h1.text-center {
        padding-top:100px;
        font-size: 4em;
    }
    #submit h1 {
        font-style: italic;
        color: white;
    }
    #submit h3 {
        font-style: italic;
        color: white;
    }
    #submit p {
        font-family: 'Lato', 'sans-serif';
        font-weight: lighter;
        color: white;
    }
    .form-inline > a.btn.btn-primary.btn-lg.col-md-4 {
        margin-left:12px;
        width:342px;
    }
    img {
        padding:9px 10px;
    }
    h2.text-right {
        font-size:2.5em;
    }
    h3.text-right {
        font-size: 2.0em;
    }
    .testimonial h2 {
        font-size: 1.8em;
    }
    .testimonial p {
        font-size:1.2em;
    }
    .col-md-6.text-center img {
        display: none;

    }

     h2.text-center {
        font-size: 1.5em !important;
        padding-bottom:1px !important;
        margin-top:50px;
    }
     h3.text-center#header {
        font-size: 0.8em;
    }
    #howitworks {
        font-size:0.8em;
    }
    .howitworks {
        margin-top:50px;
        margin-bottom:50px;
    }
    #one, #three {
        margin-right:40px;
    }
    .row.text-center > .col-md-3 h3 {
        font-size:1.1em;
    }
    h1.text-center {
        font-size: 2.3em !important;
        padding-bottom:1px !important;
    }
    .step4 {
        padding-bottom: 1px !important;
    }
    #recentcustomercreations h3 {
        font-size: 1.1em;

    }
    .col-md-1.text-left {
        padding: 40px 40px 40px 40px;
        display: block;
        margin: 40px 40px;
    }
    #recentcustomercreations p {
        font-size: 1em;
    }
    img.nav.navbar-left#footer {
        width:100px;
    }
    .col-md-5 p {
        font-size: 1.1em;
    }

    #view {
        padding-top:40px !important;
    }
    .contact {
        padding-top:40px;
        margin-top:40px;
        background:#000 url('../images/Footer_background_image_desktop.jpg') no-repeat 0px 0px;
    }
    #lifooter li {
        display:inline !important;
    }
    #lifooter li a {
        margin-left:10px;
    }



}

@media (min-width: 800px) {
    #contactbuttons {
    width:100%;
    margin-left: 30%
    }
    .col-md-1.text-left {
        float:right;
    }
    
}

.hero #first-typed {
    text-transform: uppercase;
    color: #fff;
    background-color: #20cb92;
}

.hero #second-typed {
    text-transform: uppercase;
    color: #fff;
    background-color: #d0b0d9;
}

.hero h2 {
    padding-bottom: 80px;
}

.hero h3 {
    font-weight: normal;
    font-size: 22px;
    padding-bottom: 30px;
}

.hero .selectize-input {
    height: 0.05402160864%;
    border-radius: 0px;
    padding: 10px 16px;
}

.hero .selectize-input input, .selectize-dropdown {
    font-size: 1.2em;
}

.creations {
    padding-top: 40px;
    padding-bottom: 40px;
}

.creations h2 {
    padding-bottom: 45px;
}

.creations h3 {
    font-size: 1.5em;
}

.testimonial {
    background: #000 url('../images/Quote_highres_full_width.jpg') no-repeat center;
    padding-top: 30px;
    padding-bottom: 80px;
    height: 230px;
}

.testimonial h2, .testimonial h3 {
    color: #fff;
}

.testimonial h3 {
    font-size: 20px;
}

.process {
    padding-top: 30px;
    padding-bottom: 80px;
}

.process h2 {
    padding-bottom: 50px;
}

.process h3 {
    font-weight: 300;
    font-size: 24px;
}

.process .col-md-3 {
    padding-left: 50px;
    padding-right: 50px;
}

.process a {
    width: 75px;
    height: 75px;
    display: block;
}

.process .submit {
    background:transparent url('../icons/Lightbulb_icon_75px.png') center top no-repeat;
}

.process .submit:hover {
    background:transparent url('../icons/lightbulb_icon_75_green_hover.png');
}

.process .meet {
    background:transparent url('../icons/Chat_icon_non_hover.png');
}

.process .meet:hover {
    background:transparent url('../icons/Chat_icon_hover.png');
}

.process .view {
    background:transparent url('../icons/ScreenIcon_icon_75px.png') center top no-repeat;
}

.process .view:hover {
    background:transparent url('../icons/Screen_Hover_icon_75px.png');
}

.process .hold {
    background:transparent url('../icons/Holdinyourhand_icon_non_hover.png') center top no-repeat;
}

.process .hold:hover {
    background:transparent url('../icons/Holdinyourhand_icon_hover.png');
}

.step1 {
    /* background: #000 url('../images/Idea_BKG-IMG.jpg') no-repeat center; */
    background: #000 url('../images/Idea_BKG-IMG_High_Res.jpg') no-repeat center;
    padding-top: 100px;
    padding-bottom: 100px;
    max-height: 530px;
}

.step1 h1, .step1 h2, .step1 h3, .step1 p,
.step3 h1, .step3 h2, .step3 h3, .step3 p,
.contact h1, .contact h2, .contact h3, .contact p{
    color: #fff;
}

.step1 h1, .step2 h1, .step3 h1, .step4 h1 {
    font-family: 'Lora', serif;
    font-size: 5em;
}

.step1 h3, .step2 h3,
.step3 h3, .step4 h3 {
    font-size: 20px;
    font-weight: normal;
}

.step1 .col-md-5, .step1 .col-md-1,
.step2 .col-md-5, .step2 .col-md-1,
.step3 .col-md-5, .step3 .col-md-1,
.step4 .col-md-5, .step4 .col-md-1 {
    padding-top:17px;
}

.step2, .step4 {
    padding-top: 100px;
    padding-bottom: 100px;
}

.step3 {
    background: #000 url('../images/View_BKG_IMG.jpg') no-repeat center;
    padding-top: 100px;
    padding-bottom: 100px;
    max-height: 500px;
}

.step4 .btn {
    margin-top: 80px;
}

.contact {
    background: #000 url('../images/Footer_background_image_desktop.jpg') no-repeat 0px -200px;
    padding-top: 50px;
    padding-bottom: 50px;
    background-size: cover;
}

.contact h2 {
    padding-bottom: 25px;
}

.contact .btn {
    font-size: 1.5em;
    font-weight: 300;
    background-color: transparent;
    margin-right: 20px;
    border-color: #fff;
    color: #fff;
    border-width: thin;
}

.contact img {
    padding-left:10px;
    padding-right:10px;
    padding-top:20px;
}

.contact img:hover, .contact img:active {
    filter: brightness(40%);
    -webkit-filter: brightness(40%);
    -moz-filter: brightness(40%);
    -o-filter: brightness(40%);
    -ms-filter: brightness(40%);
}

.footer {
    background-color: #686b6a;
    clear: top;
    z-index: -1;
    padding-top: 50px;
    height:250px;
    vertical-align: middle;
}

.footer p {
    padding-top:50px;
    color: #fff;
    font-size: 0.8em;
}

.footer .nav>li>a {
    display: inline;
    padding-top: 25px;
    padding-bottom: 15px;
    padding-right:30px;
    padding-left:30px;
    color: #fff;
    line-height: 20px;
    text-transform: uppercase;
    vertical-align: middle;
    margin-right: 30px;
}

.footer .nav>li>a:hover {
    color: #999;
    background-color: transparent;
}

.footer .navbar-form {
    padding-top: 10px;
}

.footer .btn {
    text-transform: uppercase;
    margin-left: 5px;
}

@media (max-width: 600px) {
    .footer .btn {
        float: right;
        margin-top:-33.5px;
        margin-right:-80px;
    }
    .footer .navbar-form {
        width:75%;

    }
    .col-md-6.text-center#mac {
        display:none;
    }
    .col-md-1.text-left#header2 h1 {
        height: 0;
        margin-top:-40px;
    }
}
.carousel .carousel-control {
    visibility: hidden;
}
.carousel:hover .carousel-control {
    visibility: visible;
}

.carousel .carousel-caption {
    visibility: hidden;
}

.carousel:hover .carousel-caption {
    visibility: visible;
}

#customer_creations_1_mobile, #mobile, #customer_creations_2_mobile, #customer_creations_3_mobile {
    visibility:hidden;
}

@media (max-width: 600px) {
    #customer_creations_1_mobile, #customer_creations_2_mobile, #customer_creations_3_mobile {
        visibility: visible;
    }
    #carousel-example-generic {
        display:none;
    }
    .step4 .btn {
        margin-left:40%;
    }
    .footer .nav>li>a {
        padding-left:3px;
        padding-right:3px;
        margin-left:3px;
    }
    .contact {
    background: #000 url('../images/Footer_background_image_desktop.jpg') no-repeat 0px 0px;
    padding-top: 50px;
    padding-bottom: 50px;
    background-size: cover;
}
#contactbuttons {
    width:30px !important;
    display: inline;
}
.col-md-2.btn.btn-lg.btn-default {
    padding-left:30px;
    padding-right:30px;
    margin-left:30px;
}
#tired {
    padding-left:44px;
    padding-right:50px;
}
#contactus {
    padding-left:15px !important;
    padding-right:15px !important;
    padding-top:10px !important;
    padding-bottom:10px !important;
}

