.footer
  .container
    .row
      .col-md-4
        ul.footer-links
          li
            a(href='privacy.html') Privacy
          li
            a(href='terms.html') Terms
          li
            a(href='faq.html') FAQ
          li
            a(href='contact.html') Contact
      .col-md-4
      .col-md-4
        .input-group.form-newsletter
          input.form-control.input-newsletter(type="text" placeholder="Sign up for emails")
          span.input-group-btn
            button.btn.btn-primary.btn-newsletter Submit
  p.copy &copy; 2014 43Layers Photography provided by Sarah Kathleen
