.footer
  .container
    .row
      .col-md-6
        ul.footer-links
          li
            a(horef='privacy.html') Privacy
          li
            a(href='terms.html') Terms
          li
            a(href='faq.html') FAQ
          li
            a(href='contact.html') Contact
      .col-md-6
        form.form-inline.form-newsletter
          input.form-control(type="text" placeholder="Sign up for emails")
          button.btn.btn-primary.btn-newsletter Submit
  p.copy &copy; 2014 43 Layers Photography provided by Sarah Kathleen
