select#select(placeholder='Tell us what you want to make...')
  option(value='') Tell us what you want to make...
    optgroup(label='Weddings')
      option(value='Belt Buckles') Belt Buckles
      option(value='Bottle Openers') Bottle Openers
      option(value='Bottle Stopper') Bottle Stopper
      option(value='Bracelets / Bangles') Bracelets / Bangles
      option(value='Cake Toppers') Cake Toppers
      option(value='Candle Stands/Holders') Candle Stands/Holders
      option(value='Championship (Superbowl) Ring') Championship (Superbowl) Ring
      option(value='Cigar Cases') Cigar Cases
      option(value='Coasters') Coasters
      option(value='Collar Stays') Collar Stays
      option(value='Confetti') Confetti
      option(value='Cufflinks') Cufflinks
      option(value='Dipping Dish') Dipping Dish
      option(value='Drink Stir Sticks') Drink Stir Sticks
      option(value='Earrings') Earrings
      option(value='Espresso Cups') Espresso Cups
      option(value='Flasks') Flasks
      option(value='Flower Vases') Flower Vases
      option(value='Gift Tags') Gift Tags
      option(value='Hair Accessories') Hair Accessories
      option(value='Invitations') Invitations
      option(value='Jewelry Boxes') Jewelry Boxes
      option(value='Jewelry Stands') Jewelry Stands
      option(value='Key Chains') Key Chains
      option(value='Lamp shades') Lamp shades
      option(value='Menu') Menu
      option(value='Money Clips') Money Clips
      option(value='Mugs') Mugs
      option(value='Name Placards') Name Placards
      option(value='Napkin Ring Holders') Napkin Ring Holders
      option(value='Necklaces') Necklaces
      option(value='Photo Frames') Photo Frames
      option(value='Ring Bearer Box') Ring Bearer Box
      option(value='Rings') Rings
      option(value='Save-the-Date') Save-the-Date
      option(value='Sculptures/Statues') Sculptures/Statues
      option(value='Shoe Horns') Shoe Horns
      option(value='Table Centerpieces') Table Centerpieces
      option(value='Table Numbers') Table Numbers
      option(value='Thank You Cards') Thank You Cards
      option(value='Tie Bars') Tie Bars
      option(value='Wedding Signage') Wedding Signage
      option(value='Wine Coasters') Wine Coasters
      option(value='Wine Glass Charms') Wine Glass Charms
    optgroup(label='Other Events')
      option(value='Bottle Stopper') Bottle Stopper
      option(value='Cake Toppers') Cake Toppers
      option(value='Candle Stands/Holders') Candle Stands/Holders
      option(value='Coasters') Coasters
      option(value='Confetti') Confetti
      option(value='Dipping Dish') Dipping Dish
      option(value='Drink Stir Sticks') Drink Stir Sticks
      option(value='Espresso Cups') Espresso Cups
      option(value='Event Signage') Event Signage
      option(value='Flower Vases') Flower Vases
      option(value='Gift Tags') Gift Tags
      option(value='Invitations') Invitations
      option(value='Menu') Menu
      option(value='Mugs') Mugs
      option(value='Name Placards') Name Placards
      option(value='Napkin Ring Holders') Napkin Ring Holders
      option(value='Save-the-Date') Save-the-Date
      option(value='Sculptures/Statues') Sculptures/Statues
      option(value='Table Centerpieces') Table Centerpieces
      option(value='Table Numbers') Table Numbers
      option(value='Thank You Cards') Thank You Cards
      option(value='Wine Glass Charms') Wine Glass Charms
    optgroup(label='Dining')
      option(value='Bottle Stopper') Bottle Stopper
      option(value='Cake Toppers') Cake Toppers
      option(value='Coasters') Coasters
      option(value='Dipping Dish') Dipping Dish
      option(value='Drink Stir Sticks') Drink Stir Sticks
      option(value='Espresso Cups') Espresso Cups
      option(value='Mugs') Mugs
      option(value='Napkin Ring Holders') Napkin Ring Holders
      option(value='Wine Glass Charms') Wine Glass Charms
    optgroup(label='Décor')
      option(value='Candle Stands/Holders') Candle Stands/Holders
      option(value='Confetti') Confetti
      option(value='Flower Vases') Flower Vases
      option(value='Lamp shades') Lamp shades
      option(value='Name Placards') Name Placards
      option(value='Sculptures/Statues') Sculptures/Statues
      option(value='Signage') Signage
      option(value='Table Centerpieces') Table Centerpieces
      option(value='Table Numbers') Table Numbers
    optgroup(label='Jewelry')
      option(value='Belt Buckles') Belt Buckles
      option(value='Bracelets / Bangles') Bracelets / Bangles
      option(value='Collar Stays') Collar Stays
      option(value='Cufflinks') Cufflinks
      option(value='Earrings') Earrings
      option(value='Necklaces') Necklaces
      option(value='Rings') Rings
      option(value='Tie Bars') Tie Bars
    optgroup(label='Gifts')
      option(value='Flasks') Flasks
      option(value='Jewelry') Jewelry
      option(value='Jewelry Boxes') Jewelry Boxes
      option(value='Jewelry Stands') Jewelry Stands
      option(value='Key Chains') Key Chains
      option(value='Lighters') Lighters
      option(value='Photo Frames') Photo Frames
