extends ./partials/_base.jade

block title
  title 43Layers - About

block content
  include  ./partials/_header.jade
  .content
    .container
      .about
        h1.text-center About Us
        p
          | 43Layers is a marketplace where you can design your own custom gifts, decor and accessories.
        p
          | Whether you want to create décor for a wedding, dining accessories for a dinner party or jewelry as a gift for someone special, we are the only consumer products company where you can design and make truly custom products that are both high quality and affordable.
        h1.text-center How Does This Work?
        p
          | All you have to do is tell us your idea and we will bring it to life - first digitally through a 3D rendering made by one of our world-class product designers, then physically with our network of digital fabrication providers (3D printing and laser cutting).
        h1.text-center Our Mission
        p
          | Our Purpose is to make products more personal and meaningful by giving you a say in the design and manufacturing process.
        p
          | Our Vision is to make the most personal consumer products company in the history of the planet. We want to completely reinvent the way our community shops by making it not only possible, but easy to customize or personalize any product you buy. Every single product we sell will always be designed and made specifically for YOU and we will be here to help every step of the way.    
          
    include ./partials/_footer.jade    
