extends ./partials/_base.jade

block title
  title 43Layers - Submit Your Idea

block content
  include  ./partials/_header.jade
  .content
    .submit-your-idea
      h1.text-center Step 1: Submit Your Idea
      .container
        .row.text-center.process
          .col-md-3
            h3 1. Submit Your Idea
              a.submit.center-block
          .col-md-3
            h3 2. Meet Your Designer
              a.meet.center-block
          .col-md-3
            h3 3. View Digital Preview
              a.view.center-block
          .col-md-3
            h3 4. Hold In Your Hands
              a.hold.center-block
        .row
          .col-md-4
            h2 Background Information
          .col-md-8
            p
              | Fill out the forms below to describe you product idea. This brief will be reviewed and used by your designer to bring your ideas to life.
        .form
          .row
            .col-md-8.col-md-offset-4
              .form-group
                label(for="title") Give your project a one sentence title *
                input.form-control#title(type="text" name="title" placeholder="e.g. Bridesmaid Necklaces or Baby Shower Table Centerpieces.")
              .form-group
                label(for="description") Product Description *
                textarea.form-control#description(type="text" name="description" placeholder="This brief will be used by your designer to bring your idea to life, so the more specific the better.")
              .form-group
                label(for="due-date") Due Date
                input.form-control#duedate(type="text" name="due_date" placeholder="When do you need to receive this order by?")
              .form-group
                label(for="budget") Budget
                .row
                  .col-md-6
                    .form-group
                      input.form-control(type="text" name="budget_from" placeholder="Min. e.g. $100")
                  .col-md-6
                    .form-group
                      input.form-control(type="text" name="budget_to" placeholder="Max. e.g. $500")
              button.btn.btn-lg.btn-primary.center-block Next
          
  include ./partials/_footer.jade
