extends ./partials/_base.jade

block title
  title 43 Layers - Submit Your Idea

block content
  include  ./partials/_header.jade

  .container
    h1.step Step 1: Submit Your Idea
    .row.text-center.process
      .col-md-3
        h3 1. Submit Your Idea
          a.submit.center-block(href='#submit') &nbsp;
      .col-md-3
        h3 2. Meet Your Designer
          a.meet.center-block(href='#meet') &nbsp;
      .col-md-3
        h3 3. View Digital Preview
          a.view.center-block(href='#view') &nbsp;
      .col-md-3
        h3 4. Hold In Your Hands
          a.hold.center-block(href='#hold') &nbsp;

    br
    br
    .row
      .col-md-4
        h3 Backgroud Information
      .col-md-8
        p Fill out the form below to describe you product idea. This brief will be reviewed and used by your designer to bring your ideas to life.

      .row
        .col-md-8.col-md-offset-4
          br
          br
          label Give your project a one sentence title*
          input.form-control(type="text" name="title" placeholder="e.g. Bridesmaid Necklaces or Baby Shower Table Centerpieces.")

      .row
        .col-md-8.col-md-offset-4
          br
          br
          label Product Description*
          textarea.form-control(type="text" name="description" placeholder="This brief will be used by your designer to bring your idea to life, so the more specific the better.")

      .row
        .col-md-8.col-md-offset-4
          br
          br
          label Due Date
          input.form-control(type="text" name="due_date" placeholder="When do you need to receive this order by?")

      .row
        .col-md-8.col-md-offset-4
          br
          br
          label Budget
          br
          input.budget(type="text" name="budget_from" placeholder="$100")
          span to 
          input.budget(type="text" name="budget_to" placeholder="$100")
          
      br
      br
      .row
        .col-md-4
          h3 Inspiration board
        .col-md-8
          p Post photos or sketches to the inspiration board below and annotate them to further describe your product to your designer.

      br
      br
      .row
        .col-md-3
          .inspiration
        .col-md-3
          .inspiration
        .col-md-3
          .inspiration
        .col-md-3
          .inspiration

      br
      br
      .row
        .col-md-4
          h3 Submit or save
        .col-md-8
          p Are you ready to start your design project?
          p Click submit if you are ready to begin. Click Save if you want to keep brainstorming and come back to your project at a later date.
          button.btn.btn-primary Submit
          button.btn.btn-secondary Save
          
  include ./partials/_footer.jade
