extends ./partials/_base.jade

block title
  title 43 Layers - Home

block content
  include  ./partials/_header.jade
  .content
    .hero.hero-caketopper
      h1 Your Ideas Brought to Life by World Class Designers and Makers
      h2
        | Design Your Own 
        .animate#product
          ul.texts
            li Cake Topper
            li Table Centerpieces
            li Cufflinks
            li Tie Bar
        |  For 
        .animate#occasion
          ul.texts
            li Your Wedding
            li a Baby Shower
            li Your Groomsmen
            li Best Man
      .container
        .row
          form(action="idea.html" method="get")
            .col-md-3.col-md-offset-3
              include ./partials/_select.jade
            .col-md-3
              button(href="idea.html").btn.btn-primary.btn-block Get Started
    // end of .hero
    
    .creations
      h2 Recent Customer Creations
      .container
          .row
            .col-md-4.creation
                .creation-picture
                  img(src='images/Deer_stir_products_page.jpg')
                h3 Animal Stir Sticks &amp; Centerpieces
                p
                  | Kaella wanted to create wooden animal themed stir sticks and table centerpieces for her friend&apos;s baby shower. This is what she came up with.
            .col-md-4.creation
                .creation-picture
                  img(src='images/Cufflinks_products.jpg' data-toggle="modal" data-target="#recent-creation")
                h3 Monogram Fighting Irish Cufflinks
                p
                  | Josh, a Notre Dame grad, was having his wedding at his alma mater in South Bend, he wanted to create some special gifts for his groomsmen. This is what they wore.
            .col-md-4.creation
                .creation-picture
                  img(src='images/Key_horizontal.jpg')
                h3 Keys to Love
                p
                  | Kelly had the idea to design a set of decorative skeleton keys to give to her fianc&eacute;. Each one had a different phrase, a different &quot;key to love.&quot; This is how they turned out.
    // end of .creations

    .creations-mobile
      h2 Recent Customer Creations
      .container.carousel.slide#creations-carousel(data-ride="carousel" data-interval="15000")
        ol.carousel-indicators
          li.active(data-target="#creations-carousel" data-slide-to="0")
          li(data-target="#creations-carousel" data-slide-to="1")
          li(data-target="#creations-carousel" data-slide-to="2")
        .creation.carousel-inner(role="listbox")
          .item.active.creation
            .creation-picture
              img(src='images/Deer_stir_products_page.jpg')
            h3 Animal Stir Sticks &amp; Centerpieces
            p
              | Kaella wanted to create wooden animal themed stir sticks and table centerpieces for her friend&apos;s baby shower. This is what she came up with.
          .item.creation
            .creation-picture
              img(src='images/Cufflinks_products.jpg' data-toggle="modal" data-target="#recent-creation")
            h3 Monogram Fighting Irish Cufflinks
            p
              | Josh, a Notre Dame grad, was having his wedding at his alma mater in South Bend, he wanted to create some special gifts for his groomsmen. This is what they wore.
          .item.creation
            .creation-picture
              img(src='images/Key_horizontal.jpg')
            h3 Keys to Love
            p
              | Kelly had the idea to design a set of decorative skeleton keys to give to her fianc&eacute;. Each one had a different phrase, a different &quot;key to love.&quot; This is how they turned out.
    // end of .creations-mobile
      
    .testimonial
      h2 What Our Customers Are Saying
      .container.carousel.slide#testimonials-carousel(data-ride="carousel" data-interval="20000" data-wrap="true")
        .carousel-inner(role="listbox")
          .item.active
            p
              | What an incredible experience! I worked with 43Layers to make a custom cake topper for our wedding. First, we brainstormed different ideas with our designer (the possibilities are endless). Once I decided on my vision, 43Layers went to work and were there each step of the way to share progress updates, answer any questions, ask for feedback, etc. The whole process was seamless, and a lot of fun. Also, the cake topper turned out perfect! It was quite the hit at the reception. Thank you 43Layers!!! 
            p
              | &mdash; Lindsay S.
          .item
            p
              | I wanted to design custom cuff links for my groomsmen and ushers. 43Layers was very easy to work with, and it was so cool to see my idea come to life! The attention to detail and quality of the finished product was awesome. I loved giving such a memorable gift to my close friends and family. 43Layers- thank you for all of your help!
            p
              | &mdash; John S.

          .item
            p
              | I stumbled upon this company while looking for wedding favors. However, after viewing some of the products on Pinterest, I had an idea - a set of photo frames for my grandmother, an avid stamp collector going through cancer treatment, that looked like a special edition stamp, each with a photo of her family inside. I had a rough idea of what I wanted, and 43Layers helped tweak it until the gift was perfect. They were crafted out of quality materials, and 43Layers made sure to make them lightweight so she could transport them to treatment and back. She absolutely loved the frames, and they helped bring her joy during her last days while battling cancer.
            p
              | &mdash; Ashleigh B.
          .item
            p
              | Thank you SO much for sending across the digital preview! I can't believe the detail of the work you can do! I love it and am so excited to see it in person! Also, excited to work with you on the other projects!
            p 
              | &mdash; Meghan M.
          .item
            p
              | My experience with 43Layers was smooth, fun and overall great! I had an idea of what I wanted, but not a clear sense of how to execute it. 43Layers helped me brainstorm different ideas and we ultimately came up with the perfect decor accents for the baby shower I was planning. Everything was custom made just the way I wanted it, and I couldn't have been more pleased. The guests of honor even got to take the laser cut statues home to decorate the nursery, so it's a gift that keeps on giving!
            p 
              | &mdash; Kaella Wilson of Kaella Lynn Events
    // end of .testimonial
    
    .process
      h2 How It Works
      .container
          .row
            .col-md-3
              a.step.submit.center-block(href='#submit')
              h3 1. Submit Your Idea
            .col-md-3
              a.step.meet.center-block(href='#meet')
              h3 2. Meet Your Designer
            .col-md-3
              a.step.view.center-block(href='#view')
              h3 3. View Digital Preview
            .col-md-3
              a.step.hold.center-block(href='#hold')
              h3 4. Hold In Your Hands
    // end of .process

    #submit.step-detail.step1
      .container
        .row
          .col-md-12.step-icon
            img(src='../icons/Lightbulb_icon_75px.png')
        .row
          .col-md-6
            .row
              .col-md-2.col-xs-2
                h1.step-number 1
              .col-md-10.col-xs-10
                h2.step-name Submit Your Design Idea
                h3.step-description Get Inspired and Tell Us What You Want to Make
                p.step-paragraph
                  | Fill out a design brief and add pictures and/or sketches to an Idea Board to communicate the vision for your product. If you need some inspiration, let us know, we can help!
          .col-md-6.step-picture
            img(src='icons/submit_your_idea_imac.png')
    // end of .step1

    #meet.step-detail.step2
      .container
        .row
          .col-md-12.step-icon
            img(src='../icons/Chat_icon_non_hover.png')
        .row
          .col-md-6.col-md-push-6
            .row
              .col-md-10.col-xs-10
                h2.step-name Start Collaborating
                h3.step-description Meet Your Designer and Start Your Project
                p.step-paragraph
                  | We will assign you a designer from our network of world-class product designers. Once you start your project, you will be directed to our design center where you&apos;ll communicate directly with your designer.
              .col-md-2.col-xs-2
                h1.step-number 2
          .col-md-6.col-md-pull-6.step-picture
            img(src='icons/Start_collaborating_Imac.png')
    // end of .step2

    #view.step-detail.step3
      .container
        .row
          .col-md-12.step-icon
            img(src='../icons/ScreenIcon_icon_75px.png')
        .row
          .col-md-6
            .row
              .col-md-2.col-xs-2
                h1.step-number 3
              .col-md-10.col-xs-10
                h2.step-name View Digital Preview
                h3.step-description Bring Your Idea to Life on Screen Before Making Your Order
                p.step-paragraph
                  | As soon as you and your designer agree on a design, your designer will send across a life-like digital preview of your product. Iterate on your product design until you are in love.
          .col-md-6.step-picture
            img(src='icons/view_digital_product.png')
    // end of .step3

    #hold.step-detail.step4
      .container
        .row
          .col-md-12.step-icon
            img(src='../icons/Holdinyourhand_icon_non_hover.png')
        .row
          .col-md-6.col-md-push-6
            .row
              .col-md-10.col-xs-10
                h2.step-name Hold It In Your Hands 
                h3.step-description Choose Material and Ship the Design to Your Door
                p.step-paragraph
                  | Once you agree on a final design, just choose the material and finish you want your product in and get it delivered to your door. You can literally hold your idea in your hands.
              .col-md-2.col-xs-2
                h1.step-number 4
          .col-md-6.col-md-pull-6.step-picture
            img(src='icons/holdinyourhandimac.png')
        form(action="idea.html" method="get")
          button.btn.btn-primary.btn-block.get-started Get Started
    // end of .step4
    
    .contact
      h2 Want To Know More?
      .container
          .row
            .col-xs-6.col-md-3.col-md-offset-3
              a(href="faq.html").btn.btn-md.btn-contact.btn-block FAQ
            .col-xs-6.col-md-3
              a(href="contact.html").btn.btn-md.btn-contact.btn-block Contact Us
          .row.text-center
            a(href='https://www.facebook.com/pages/43Layers/273568439486440')
              img(src='icons/Facebook_icon_50px.png')
            a(href='https://twitter.com/43Layers')
              img(src='icons/Twitter_icon_50px.png')
            a(href='http://instagram.com/43layers')
              img(src='icons/Instagram_icon_50px.png')
            a(href='http://www.pinterest.com/43layers')
              img(src='icons/Pintrest_icon_50px.png')

  include ./partials/_footer.jade

