extends ./partials/_base.jade

block title
  title 43 Layers - Home

block content
  include  ./partials/_header.jade
  include ./partials/_modal.jade
  .hero
      .container
        h1 Where Everyone Is a Designer
        h2 Make It Personal. Make It Yours.
        h3 Design Your Own 
          span#first-typed
          span  for 
          span#second-typed

        .row
          .col-md-8.col-md-offset-2
            form.form-inline
              select#select.col-md-8(placeholder='Tell us what you want to make...', style="height:50%;")
                option(value='') Tell us what you want to make...
                optgroup(label='Weddings')
                  option(value='Belt Buckles') Belt Buckles
                  option(value='Bottle Openers') Bottle Openers
                  option(value='Bottle Stopper') Bottle Stopper
                  option(value='Bracelets / Bangles') Bracelets / Bangles
                  option(value='Cake Toppers') Cake Toppers
                  option(value='Candle Stands/Holders') Candle Stands/Holders
                  option(value='Championship (Superbowl) Ring') Championship (Superbowl) Ring
                  option(value='Cigar Cases') Cigar Cases
                  option(value='Coasters') Coasters
                  option(value='Collar Stays') Collar Stays
                  option(value='Confetti') Confetti
                  option(value='Cufflinks') Cufflinks
                  option(value='Dipping Dish') Dipping Dish
                  option(value='Drink Stir Sticks') Drink Stir Sticks
                  option(value='Earrings') Earrings
                  option(value='Espresso Cups') Espresso Cups
                  option(value='Flasks') Flasks
                  option(value='Flower Vases') Flower Vases
                  option(value='Gift Tags') Gift Tags
                  option(value='Hair Accessories') Hair Accessories
                  option(value='Invitations') Invitations
                  option(value='Jewelry Boxes') Jewelry Boxes
                  option(value='Jewelry Stands') Jewelry Stands
                  option(value='Key Chains') Key Chains
                  option(value='Lamp shades') Lamp shades
                  option(value='Menu') Menu
                  option(value='Money Clips') Money Clips
                  option(value='Mugs') Mugs
                  option(value='Name Placards') Name Placards
                  option(value='Napkin Ring Holders') Napkin Ring Holders
                  option(value='Necklaces') Necklaces
                  option(value='Photo Frames') Photo Frames
                  option(value='Ring Bearer Box') Ring Bearer Box
                  option(value='Rings') Rings
                  option(value='Save-the-Date') Save-the-Date
                  option(value='Sculptures/Statues') Sculptures/Statues
                  option(value='Shoe Horns') Shoe Horns
                  option(value='Table Centerpieces') Table Centerpieces
                  option(value='Table Numbers') Table Numbers
                  option(value='Thank You Cards') Thank You Cards
                  option(value='Tie Bars') Tie Bars
                  option(value='Wedding Signage') Wedding Signage
                  option(value='Wine Coasters') Wine Coasters
                  option(value='Wine Glass Charms') Wine Glass Charms
                optgroup(label='Other Events')
                  option(value='Bottle Stopper') Bottle Stopper
                  option(value='Cake Toppers') Cake Toppers
                  option(value='Candle Stands/Holders') Candle Stands/Holders
                  option(value='Coasters') Coasters
                  option(value='Confetti') Confetti
                  option(value='Dipping Dish') Dipping Dish
                  option(value='Drink Stir Sticks') Drink Stir Sticks
                  option(value='Espresso Cups') Espresso Cups
                  option(value='Event Signage') Event Signage
                  option(value='Flower Vases') Flower Vases
                  option(value='Gift Tags') Gift Tags
                  option(value='Invitations') Invitations
                  option(value='Menu') Menu
                  option(value='Mugs') Mugs
                  option(value='Name Placards') Name Placards
                  option(value='Napkin Ring Holders') Napkin Ring Holders
                  option(value='Save-the-Date') Save-the-Date
                  option(value='Sculptures/Statues') Sculptures/Statues
                  option(value='Table Centerpieces') Table Centerpieces
                  option(value='Table Numbers') Table Numbers
                  option(value='Thank You Cards') Thank You Cards
                  option(value='Wine Glass Charms') Wine Glass Charms
                optgroup(label='Dining')
                  option(value='Bottle Stopper') Bottle Stopper
                  option(value='Cake Toppers') Cake Toppers
                  option(value='Coasters') Coasters
                  option(value='Dipping Dish') Dipping Dish
                  option(value='Drink Stir Sticks') Drink Stir Sticks
                  option(value='Espresso Cups') Espresso Cups
                  option(value='Mugs') Mugs
                  option(value='Napkin Ring Holders') Napkin Ring Holders
                  option(value='Wine Glass Charms') Wine Glass Charms
                optgroup(label='Décor')
                  option(value='Candle Stands/Holders') Candle Stands/Holders
                  option(value='Confetti') Confetti
                  option(value='Flower Vases') Flower Vases
                  option(value='Lamp shades') Lamp shades
                  option(value='Name Placards') Name Placards
                  option(value='Sculptures/Statues') Sculptures/Statues
                  option(value='Signage') Signage
                  option(value='Table Centerpieces') Table Centerpieces
                  option(value='Table Numbers') Table Numbers
                optgroup(label='Jewelry')
                  option(value='Belt Buckles') Belt Buckles
                  option(value='Bracelets / Bangles') Bracelets / Bangles
                  option(value='Collar Stays') Collar Stays
                  option(value='Cufflinks') Cufflinks
                  option(value='Earrings') Earrings
                  option(value='Necklaces') Necklaces
                  option(value='Rings') Rings
                  option(value='Tie Bars') Tie Bars
                optgroup(label='Gifts')
                  option(value='Flasks') Flasks
                  option(value='Jewelry') Jewelry
                  option(value='Jewelry Boxes') Jewelry Boxes
                  option(value='Jewelry Stands') Jewelry Stands
                  option(value='Key Chains') Key Chains
                  option(value='Lighters') Lighters
                  option(value='Photo Frames') Photo Frames
              a#getstarted.btn.btn-primary.btn-lg.col-md-4(href='http://app.43layers.com') Get Started
    .creations
      .container
        h2.text-center Recent Customer Creations
        .row.text-center
          .col-md-4#recentcustomercreations
              img.animal(src='images/Deer_stir_products_page.jpg')
              h3 Animal Stir Sticks &amp; Centerpieces
              p
                | Kaella wanted to create wooden animal themed stir sticks and table centerpieces for her friend&apos;s baby shower. This is what she came up with.
          
          .col-md-4#recentcustomercreaations
              img.animal(src='images/Cufflinks_products.jpg' data-toggle="modal" data-target="#recent-creation")
              h3 Monogram Fighting Irish Cufflinks
              p
                | Josh, a Notre Dame grad, was having his wedding at his alma mater in South Bend, he wanted to create some special gifts for his groomsmen. This is what they wore.
          .col-md-4#recentcustomercreations
           
              img.animal(src='images/Key_horizontal.jpg')
              h3#keys Keys to Love
              p
                | Kelly had the idea to design a set of decorative skeleton keys to give to her fianc&eacute;. Each one had a different phrase, a different &quot;key to love.&quot; This is how they turned out.
        
       
    .testimonial(style="background-size:cover;")
      .container
        h2.text-center(style="text-align:center;") What Our Customers Are Saying
        h3.text-center#quote
          | Thank you SO much for the picture!!!  I can&apos;t wait to see it in person!  I can&apos;t believe the detail of the work you can do!  Love! So excited! Thank you so much!  Also, excited to work with you on the other projects!
        h3.text-center#quote - Meghan M
    .process
      .container.howitworks
        h2.text-center#howitworks How It Works
        .row.text-center
          .col-md-3
            h3 1. Submit Your Idea
            a.submit.center-block(href='#submit') &nbsp;
          .col-md-3
            h3 2. Meet Your Designer
            a.meet.center-block(href='#meet') &nbsp;
          .col-md-3
            h3 3. View Digital Preview
            a.view.center-block(href='#view') &nbsp;
          .col-md-3
            h3 4. Hold In Your Hands
            a.hold.center-block(href='#hold') &nbsp;
    #submit.step1(style="background-size:cover;")
      .container
        .row
          .col-md-1.text-right
            h1#one 1
          .col-md-5
            h2 Submit Your Design Idea
            h3 Get Inspired and Tell Us What You Want to Make
            p(id="quote").
               Fill out a design brief and add pictures and/or sketches to an Idea Board to communicate the vision for your product. If you need some inspiration, let us know, we can help!
          .col-md-6.text-center(id="mac")
            a(href="#modal1", data-target="#modal1", role="modal", data-toggle="modal")
              img(src='icons/submit_your_idea_imac.png')
    #meet.step2
      .container
        .row
          .col-md-1.text-left(id="header2")
            h1 2
          .col-md-6.text-center
            img(src='icons/Start_collaborating_Imac.png')
          .col-md-5
            h2.text-right Start Collaborating
            h3.text-right Meet Your Designer and Start Your Project
            p.text-right#mobile We will assign you a designer from our network of world-class product designers. Once you start your project, you will be directed to our design center where you&apos;ll communicate directly with your designer.
          
    #view.step3(style="background-size:cover;")
      .container
        .row
          .col-md-1.text-right
            h1#three 3
          .col-md-5
            h2 View Digital Preview
            h3 Bring Your Idea to Life on Screen Before Making Your Order
            p#quote As soon as you and your designer agree on a design, your designer will send across a life-like digital preview of your product. Iterate on your product design until you are in love.
          .col-md-6.text-center
            img(src='icons/view_digital_product.png')
    #hold.step4
      .container
        .row
          .col-md-1.text-left
            h1 4
          .col-md-6.text-center
            img(src='icons/holdinyourhandimac.png')
          .col-md-5
            h2.text-right Hold It In Your Hands 
            h3.text-right Choose Material and Ship the Design to Your Door
            p.text-right#quote Once you agree on a final design, just choose the material and finish you want your product in and get it delivered to your door. You can literally hold your idea in your hands.
        .row
          .col-md-4.col-md-offset-4.btn.btn-lg.btn-primary#getstartedbutton
            | Get Started
    .contact
      .container
        h2.text-center Want To Know More?
        .row
          .col-md-2.col-md-offset-4
            .btn.btn-lg.btn-block.more-info FAQ
          .col-md-2
            .btn.btn-lg.btn-block.more-info Contact Us
      .row.text-center
        a(href='https://www.facebook.com/pages/43Layers/273568439486440')
          img(src='icons/Facebook_icon_50px.png')
        a(href='https://twitter.com/43Layers')
          img(src='icons/Twitter_icon_50px.png')
        a(href='http://instagram.com/43layers')
          img(src='icons/Instagram_icon_50px.png')
        a(href='http://www.pinterest.com/43layers')
          img(src='icons/Pintrest_icon_50px.png')

  include ./partials/_footer.jade

