extends ./partials/_base.jade

block title
  title 43 Layers - Home

block content
  include  ./partials/_header.jade
  .content
    .hero
      .container
        .row
          .col-md-12
            h1 Where Everyone Is a Designer.
            h2 Make It Personal. Make It Yours.
            h3 Design Your Own
              span#first-typed
              span  For 
              span#second-typed
        .row
          .col-md-3.col-md-offset-3
            include ./partials/_select.jade
          .col-md-3
            button.btn.btn-primary.btn-block Get Started

  include ./partials/_footer.jade

