extends ./partials/_base.jade

block title
  title 43Layers - Inspiration Board

block content
  include  ./partials/_header.jade
  .content
    .submit-your-idea.meet-your-designer
      h1.text-center Step 2: Meet Your Designer
      .container
        .row.text-center.process
          .col-md-3
            h3 1. Submit Your Idea
              a.submit.center-block
          .col-md-3
            h3 2. Meet Your Designer
              a.meet.center-block
          .col-md-3
            h3 3. View Digital Preview
              a.view.center-block
          .col-md-3
            h3 4. Hold In Your Hands
              a.hold.center-block
        ul.nav.nav-pills.process-mobile
          li
          li.active
          li
          li
        .row
          .col-md-4
            h2 Meet Your Designer
          .col-md-8
            p
              | We are in the process of finding the perfect designer to bring your idea to life. You will be notified by email as soon as we find a match for your project.
            
  include ./partials/_footer.jade
