extends ./partials/_base.jade

block title
  title 43 Layers - Sign Up

block content
  include ./partials/_header.jade
  .content
    .login
      .container
        .row
          .col-md-4.col-md-offset-4
            h1.text-center Sign Up
            .form-group
              input.form-control(type="text" placeholder="Email")
            .form-group
              input.form-control(type="password" placeholder="Password")
            .form-group
              input.form-control(type="password" placeholder="Confirm Password")
            button.btn.btn-primary.btn-block Sign Up
            p.signup
              | Already have an account? 
              a(href="login.html") Log in
  include ./partials/_footer.jade