<div id="customer_modal" class="modal fade in" tabindex="-1" role="dialog" aria-labelledby="customerModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content modal-centered">

            <div class="form-panel">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Step 1: Contact Info</h4>
                </div>

                <%= form_tag(ajax_inquiry_path, method: "post", id: "customer_inquiry_form") do %>
                <div class="modal-body">
                    <p style="margin-bottom: 20px;">
                        Please enter your name and email address
                    </p>
                    <div class="row">
                        <div class="col-md-6 col-md-offset-3">

                                <div class="form-group">
                                    <input type="name" class="form-control" id="inquiry_name" placeholder="Name" name="inquiry[name]">
                                </div>

                                <div class="form-group">
                                    <input type="email" class="form-control" id="inquiry_email" placeholder="Email" name="inquiry[email]">
                                </div>

                                <input type="hidden" id="inquiry_source" name="inquiry[source]" value="CUSTOMER">

                                <p class="error-message" style="display: none">Hmm, we had trouble with your entries, please try again!</p>
                        </div>
                    </div>

                </div> <!-- end of .modal-body -->

                <div class="modal-footer">
                    <button type="submit" class="btn btn-theme">
                        <span class="text">Continue</span> <i class="loader fa fa-spinner fa-spin" style="display: none"></i>
                    </button>
                </div>
                <% end %>
            </div> <!-- /.form-panel -->

            <div class="thankyou-panel" style="display: none">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">We'll be in touch!</h4>
                </div>

                <div class="modal-body">
                    <p>
                        Thank you for your interest in 43Layers.  Currently, we are working with each customer individually to ensure the highest level of service.  <br/><br/>You will receive an email with further details shortly.
                    </p>
                </div> <!-- end of .modal-body -->

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">
                        <span class="text">Close</span>
                    </button>
                </div>
            </div> <!-- /.thankyou-panel -->

        </div>
    </div>
</div>
