.footer.container-fluid
  .row
    .col-md-4
      img.footer-logo.center-block(alt='Logo', src='icons/Main_nav_logo_wht.png')
    .col-md-4
      ul.footer-links
        li
          a(horef='privacy.html') Privacy
        li
          a(href='terms.html') Terms
        li
          a(href='faq.html') FAQ
        li
          a(href='contact.html') Contact
    .col-md-4.col-sm-4
      .newsletter
        form(action='http://43layers.us3.list-manage.com/subscribe/post', method='POST')
        input(type='hidden', name='u', value='85ad0a74783045ae677ecde19')
        input(type='hidden', name='id', value='43eaa152c3')
        .email
          input.form-control(type='text', name='MERGE0', placeholder='Newsletter')
        .subscribe
          button.btn.btn-primary(type='submit') Subscribe
  .row
    .col-md-12
      p.copy &copy;  2014  43Layers
