.modal.fade#recent-creation
  .modal-dialog
    .modal-content
        .modal-header
          button(type="button" class="close" data-dismiss="modal")
            span(aria-hidden="true") &times;
              span.sr-only Close
          h4 Cufflinks
        .modal-body
          .modal-img
            img(src='images/Cufflinks_products.jpg')
          p Here goes the description and review of these cufflinks
          p.text-center Process
          .container
            .row
              .col-md-4
                h6 1. Submit Idea
              .col-md-4
                p Tell us your idea and insert image of tablet
            .row
              .col-md-6.col-md-offset-2
                a#getstarted.btn.btn-primary.btn-lg.col-md-4(href='http://app.43layers.com') Get Started

