extends ./_base.jade

block title
  title 43 Layers - About

block content
  .modal.fade#modal1(tabindex="-1", role="dialog", aria-hidden="true", aria-labelledby="#modal1")
      .modal-dialog
        .modal-content
          .modal-header
            button.close(type="button", data-dismiss="modal")
              span(aria-hidden="true")&times;
              span.sr-only close
  include  ./_nav.jade
  .about_section
      .container#main
        h1.text-center(style="font-size:2.0em; margin-top:50px; margin-bottom:25px; text-align:center;") About Us
        | 43Layers is a marketplace where you can design your own custom gifts, decor and accessories. 
        | Whether you want to create décor for a wedding, dining accessories for a dinner party or jewelry as a gift for someone special, we are the only consumer products company where you can design and make truly custom products that are both high quality and affordable.
        h1.text-center(style="font-size:2.0em; margin-top:50px; margin-bottom:25px; text-align:center;") How Does This Work?
        | All you have to do is tell us your idea and we will bring it to life - first digitally through a 3D rendering made by one of our world-class product designers, then physically with our network of digital fabrication providers (3D printing and laser cutting).
        h1.text-center(style="font-size:2.0em; margin-top:50px; margin-bottom:25px; text-align:center;") Our Mission
        | Our Purpose is to make products more personal and meaningful by giving you a say in the design and manufacturing process. 
        | Our Vision is to make the most personal consumer products company in the history of the planet. We want to completely reinvent the way our community shops by making it not only possible, but easy to customize or personalize any product you buy. Every single product we sell will always be designed and made specifically for YOU and we will be here to help every step of the way.    
    
          
    include ./_footer.jade

    // jQuery (necessary for Bootstrap's JavaScript plugins)
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js')
    // Include all compiled plugins (below), or include individual files as needed
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.js')
    
    script(src='js/selectize.js')
    script(src='js/typed.js')
    script.
      $('#select').selectize({
      create: true,
      optgroupOrder: ["Weddings", "Other Events"]
      });
      $(function(){
      $("#first-typed").typed({
      strings: ["Cake Topper", "Cufflinks", "Wedding Gift", "Necklaces", "Wine Charms", "Confetti", "Table Centerpieces"],
      typeSpeed: 80,
      showCursor: false,
      backDelay: 5000,
      startDelay: 500,
      loop: true
      });
      });
      $(function(){
      $("#second-typed").typed({
      strings: ["your Wedding", "Groomsmen", "Your Fiancé", "Bridesmaids", "a Dinner Party", "New Years Eve", "a Baby Shower"],
      typeSpeed: 80,
      showCursor: false,
      backDelay: 5000,
      startDelay: 3000,
      loop: true
      });
      });
    script.
      $(function () {
      $("['rel=tooltip']").tooltip();
      });
