extends ./_base.jade

block title
  title 43 Layers - Contact

block content
  include ./_header.jade
  section#contact.contact.section.has-pattern(style="margin-top:50px;")
    .container
            .row.text-center
              h2.title Contact Us
              .intro.col-md-6.col-sm-12.col-xs-12.col-md-offset-3
                p
                  | We&rsquo;d love to hear from you. Send us a note and we&apos;ll get back to you as soon as we possibly can.
                ul.list-unstyled.contact-details
                  li
                    i.fa.fa-envelope(style="color:white; padding-right:5px;")
                    a(href='mailto:contact@43layers.com', style="color:#20CB92;") contact@43layers.com
                  li(style="color:white;")
                    i.fa.fa-phone-square(style="color:white; padding-right:5px;")
                    | 260-639-4343
            // //row
            .row.text-center
              .contact-form.col-md-6.col-sm-12.col-xs-12.col-md-offset-3
                form#contact_inquiry_form(accept-charset='UTF-8', action='/ajax/inquiry', method='post')
                  div(style='margin:0;padding:0;display:inline')
                    input(name='utf8', type='hidden', value='✓')
                    input(name='authenticity_token', type='hidden', value='INSwWYJn0d5ZZjpHJrY4srgu/SzsZC37GUdPZ5HYUZM=')
                  .form-group.name
                    label.sr-only(for='name') Name
                    input#name.form-control(type='text', placeholder='Name:', name='inquiry[name]')
                  // //form-group
                  .form-group.email
                    label.sr-only(for='email') Email
                    input#email.form-control(type='email', placeholder='Email:', name='inquiry[email]')
                  // //form-group
                  .form-group.message
                    label.sr-only(for='message') Message
                    textarea#message.form-control(rows='6', placeholder='Message:', name='inquiry[message]')
                  // //form-group
                  input#customer_source(type='hidden', name='inquiry[source]', value='CONTACT FORM')
                  button.btn.btn-success(type='submit', style="background-color:#20CB92; border-color:#20CB92;")
                    span.text(style="color:#fff;") Send Message
                    i.loader.fa.fa-spinner.fa-spin(style='display: none')
                  p.error-message(style='display: none') Hmm, we had trouble with your entries, please try again!
                // //form
              // //contact-form
              .contact-form-success(style='display: none')
                | Thank you!  We&apos;ll reply back soon.
            // //row
            .text-center
              ul.social-icons.list-inline
                li
                  a(href='https://twitter.com/43Layers', target='_blank')
                    img(src="icons/Twitter_icon_50px.png")

                li
                  a(href='https://www.facebook.com/pages/43-Layers/273568439486440', target='_blank')
                    img(src="icons/Facebook_icon_50px.png")
                li
                  a(href='http://instagram.com/43layers', target='_blank')
                    img(src="icons/Instagram_icon_50px.png")
                li
                  a(href='http://www.pinterest.com/43layers/', target='_blank')
                    img(src="icons/Pintrest_icon_50px.png")
              // //social-icons
            // //row
          // //container
        // //contact
